name: Build and Deploy

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Create frontend .env file
      run: |
        echo "VITE_API_URL=https://api.ivanmalyshev.nomorepartiessbs.ru/api/afisha" > ./frontend/.env.production
        echo "VITE_CDN_URL=https://api.ivanmalyshev.nomorepartiessbs.ru/content/afisha" >> ./frontend/.env.production

    - name: Build and push backend
      uses: docker/build-push-action@v5
      with:
        context: ./backend
        push: true
        tags: |
          ghcr.io/${{ github.repository }}/film-api-backend:latest
          ghcr.io/${{ github.repository }}/film-api-backend:${{ github.sha }}

    - name: Build and push frontend
      uses: docker/build-push-action@v5
      with:
        context: ./frontend
        push: true
        tags: |
          ghcr.io/${{ github.repository }}/film-api-frontend:latest
          ghcr.io/${{ github.repository }}/film-api-frontend:${{ github.sha }}

    - name: Build and push nginx
      uses: docker/build-push-action@v5
      with:
        context: ./nginx
        push: true
        tags: |
          ghcr.io/${{ github.repository }}/film-api-nginx:latest
          ghcr.io/${{ github.repository }}/film-api-nginx:${{ github.sha }}

  deploy:
    runs-on: ubuntu-latest
    needs: build-and-push
    steps:
    - name: Deploy to server
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: 158.160.80.202
        username: ivanmalyshev
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        script: |
          cd ~/film-app
          docker compose pull
          docker compose down
          docker compose up -d
          docker system prune -f